/* ========================== 
        Google fonts 
============================ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');

/* ========================== 
    variables
============================ */
:root{

    /* ---fonts variable---- */
    --mainFont :'Montserrat', sans-serif;
    --fontBold:700;
    --fontSemi:600;
    --fontMedium:500;
    --fontRegular:300;
    --fontLight:200;
    

    /* ---color variable---- */
    --bannerColor:#2D25A0;
    --loginColor:#E02C6D;
    --h4color:#18191F;
    --pColor:#6C6C6C;



    
}


/* ========================== 
      Reset CSS
============================ */



*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
     -webkit-box-flex: 0;
     -ms-flex: 0 0 auto;
         flex: 0 0 auto;
}





/* ========================== 
     Global CSS
============================ */


a,
a:hover{
     text-decoration: none;
}



li{
    list-style: none;
}

ul{
    display: flex;
}

img{
     max-width: 100%;
}



body{
    font-family:var(--mainFont);
    background-color: lightblue;
}



/* ========================== 
     Reusable CSS
============================ */


.container{
     max-width: 1160px;
     margin: 0 auto;
}


.row{
    padding: 2rem;
   
}


.shape{
    position: relative;
    border: 1px solid red;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: rgb(255, 255, 255);

}


.shape > span{
    margin: .5rem;
}


/* .shape-red::after{
    content:" ";
    background-color: #18191F;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    display: inline-block;
    margin-left: 5px;
} */




.shape-red::before{
    content:" ";
    background-color: #ff0000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 0;
    display: inline-block;
    
}
/* .shape-green::after{
    content:" ";
    background-color: #000000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    display: inline-block;
    margin-left: 5px;
    
} */

.shape span{
    cursor: pointer;
}

h2{
    background-color: #2D25A0;
    padding: 1rem;
    color: #fff;
    text-align: center;
}




.shape-green::before{
    content:" ";
    background-color: #66ff00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 0;
    display: inline-block;
    
}



/* .shape-yellow::after{
    content:" ";
    background-color: #18191F;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    display: inline-block;
    margin-left: 5px;
} */




.shape-yellow::before{
    content:" ";
    background-color: #ffd105;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 0;
    display: inline-block;
    
}



/* @media only screen and (max-width:768px){
  
} */